# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Activate Dark Theme'
      'command': 'theme-set:activate-dark-theme'
    }
    {
      'label': 'Activate Light Theme'
      'command': 'theme-set:activate-light-theme'
    }
    {
      'label': 'Toggle Theme'
      'command': 'theme-set:toggle-theme'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'theme-set'
      'submenu': [
        {
          'label': 'Activate Dark Theme'
          'command': 'theme-set:activate-dark-theme'
        }
        {
          'label': 'Activate Light Theme'
          'command': 'theme-set:activate-light-theme'
        }
        {
          'label': 'Toggle Theme'
          'command': 'theme-set:toggle-theme'
        }
      ]
    ]
  }
]
